.button{
    display: flex;
    gap: 1%;
    align-items: center
}
.title{
    font-size: 70px;
    box-shadow:1px 2px 4px rgb(201, 200, 200) ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Verdana, sans-serif;
}
#input{

        padding: 0.5rem 0.75rem;
        appearance: none;
        background-color: #e3e3e3;
        border-radius: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-color: rgb(0, 0, 0);
        width: 35%;
}
.button1{
    appearance: none;
    background-color:#2b2b2b;;
    border-radius: 50px;
    padding: 0.5rem 0.75rem;
    border-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 4px #818181;
    width: 15%;
    color: white;
}

#conteiner{
    padding-left: 40%;
    text-align: left;
    font-size: 50px;

}

.conteiner-background{
    background: url(123.jpg);
    width: 100%;
    height: 700px;
    text-align: center;
    color: #ffffff;
    padding-top: 25%;
    background-position: center top;
}

